<html>
<head>
	<style>
        body {
            background-color: pink; /* For browsers that do not support gradients */
  background-image: linear-gradient(pink, blue);
            color: rgb(240, 248, 255);
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 1.3em;
        }

        a {
            color: rgb(255, 111, 111);
        }
    </style>
	<title> Group1 Hospital </title>
	
	<link href="css/style.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	
	<div class="top">
		<div>
		 Contact Us +91 96366 20000 / 01 | Group1@hospital.com
		</div>
	</div>
	
	<div class="logo">
		<div>
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> Group 1  </font><font color="#000"> Hospital</font> </td>
					<td> <br> <br>
						<font size="4px">
							<a href="document_links">Data of each patient</a>

						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="bottom">
		<div>
		</div>
	</div>
<div class="middle">
		<div style="background-image:url('img/a.jpg');">
		<p>
			<br> <br>
					Health Care Services  <br>
			<font size="5px"> We Care About Your Health </font>
		</p>
		</div>
	</div>

	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are medical center </font> <br> <br>

					<font color="#000" size="5px"> We Have Medicare Plan Options for You! </font> <br> <br>

Group 1 Company Limited was established in September 2022 by the co-activity of Medical Second Opinion Company, from Vietnam and International University are managing different sorts of wellbeing administrations 24 hours since it was set up.

 Healthcare benefit is for the most part go for each phase of Vietnam individuals the individuals who live in different spots to be served in sheltered and simple and viably.

ECG records will be kept by Group 1 System to fulfill the prerequisites of the patients to diminish the mix-ups and made simple to get our well-being record by the utilization of Group 1 System while exchanging patients to a Doctor, a Clinic or a Hospital.

</ul>
<br>
 </td>


					<td> </td>
				</tr>


			</table>
		</div>
	</div>

	<div class="nav_down">
		<div>
		 &copy; Group 1 Hospital
		</div>
	</div>


	
