<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
            background-color: pink; /* For browsers that do not support gradients */
  background-image: linear-gradient(pink, blue);
            color: rgb(240, 248, 255);
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 1.3em;
        }

        a {
            color: rgb(255, 111, 111);
        }
    </style>

        <title>Document Links</title>
    </head>
    <body>
        <h1>Document Links</h1>
        <ul>
            {% for url in urls %}
            <li><a href="{{ url }}">Document {{ loop.index }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>