<!DOCTYPE html>
<html>
<head>
	<title>My MongoDB Data</title>
</head>
<body>
	<h1>My Data</h1>

	<table>
		<colgroup><col class="name">
  		<col class="CVD type">
  		<col class="ECG signal">
  		</colgroup><thead>
		<tr>
			<th>time</th>
			<th>CVD type</th>
			<th>ECG signal</th>
		</tr>
		{% for document in documents %}
			<tr>
				<td>{{ document.time }}</td>
				<td>{{ document.CVDtype }}</td>
				<td>{{ document.ECGsignal }}</td>
			</tr>
		{% endfor %}
	</table>
 	<ul>
        {% for document in documents %}
        <li>
            {{ document['name'] }}.{{ document['extension'] }}
            <a href="/download/{{ document['_id'] }}">Download</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
